<!DOCTYPE html>
<html>
<head>
	<title>Presupuesto</title>
	<meta charset="utf-8">
	<link rel="icon" type="image/jpg" href="6.jpg">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<style type="text/css">
		.jumbotron {
		 	margin: 30px;
		}
	</style>
	<style>
body {
    background-color: white;
}

h2 {
    color: blue;
    text-align: center;
}
h1 {
    color: red;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
</style>
</head>
<body>
<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		
		<a class="navbar-brand" href="inicio">Inicio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="contacto">Contáctanos<span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link active" href="preguntas">Preguntas Frecuentes<span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link active" href="quienes">Quienes Somos<span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link active" href="evento">Portafolio<span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link active" href="pre">Presupuesto<span class="sr-only">(current)</span></a>
			</div>
		
		</div>
	</nav>
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
			<h1>Inicio</h1>
			</div>
		</div>
	</div>


	<center>
		<div class="row">
			<div class="col-md-12">

			</div>
		</div>	
	</center>			
</div>
</body>
</html>